name: Build and Test

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
    
    - name: Build with Maven
      run: ./mvnw clean install -DskipTests
    
    - name: Run unit tests
      run: ./mvnw test
    
    - name: Run integration tests
      run: ./mvnw verify -Pintegration-tests
    
    - name: Build Docker images
      run: |
        for service in gateway tenantadmin customer vehicle workorder inventory payment appointment file audit notification query-bff; do
          if [ -d "services/${service}-service" ]; then
            docker build -t autorepairshop/${service}-service:${{ github.sha }} services/${service}-service/
            docker tag autorepairshop/${service}-service:${{ github.sha }} autorepairshop/${service}-service:latest
          fi
        done
    
    - name: Run security scan
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: 'fs'
        scan-ref: '.'
        format: 'sarif'
        output: 'trivy-results.sarif'
    
    - name: Upload security scan results
      uses: github/codeql-action/upload-sarif@v2
      if: always()
      with:
        sarif_file: 'trivy-results.sarif'
    
    - name: Publish test results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: '**/target/surefire-reports/*.xml'
